{% extends "layout.html" %}

{% block content %}

<main id="page-program" class="container">
    <div class="content-wrapper">
        <!-- TITLE -->
        <h1 class="title mb-5 text-center color-darker-yellow"><strong>{{ this.title }}</strong></h1>

        <!-- DESCRIPTION -->
        <div>
            {% if this.description_long %}
            {{ this.description_long }}
            {% else %}
            {{ this.description }}
            {% endif %}
            
            {% if this.video %}
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{this.video}}" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            {% endif %}
        </div>

        <hr>

        {% if this.schedule %}
        <!-- SCHEDULE -->
        <h2 class="text-center" id="schedule"><strong>{{ _("Horaire") }}</strong></h2>
        <div class="admonition admonition-note">{{ this.schedule }}</div>
        {% endif %}
    </div>

    <p class="text-center p-5">
        <a class="btn btn-warning mb-1" href="{{ '/projets' | url }}">
            <i class="fa fa-home"></i> {{ _("Retour aux projets") }}
        </a>
    </p>
</main>

{% endblock %}