{% extends "layout.html" %}

{% block baseline %}
<div class="container overlay">
    <img data-aos="zoom-in" data-aos-delay="100" src="{{ '/imgs/educode_logo_mono/monochrome/svg/complet.svg' | url }}"
        alt="">
    <br>
    <br>
    <h1 data-aos="fade-down" data-aos-delay="500" class="color-dark">{{ this.title }}</h1>

    <p data-aos="zoom-in" data-aos-delay="400" class="baseline color-darker-yellow">
        <strong>{{ this.baseline }}</strong></p>
    <hr>
</div>
{% endblock %}

{% block content %}
<div id="landing-page-content" class="container-fluid description">
    <div class="container">
        <div class="row">
            <!-- GENERAL INFO -->
            <div class="col-12" id="anchor-a-propos">
                <h4 class="title title-left">{{ _("À propos d'") }} <strong>Educode</strong></h4>
                <div class="about">
                    {{ this.about }}
                    <div class="col-12 text-center p-4">
                        <a href="{{ 'projets' | url }}" class="btn btn-lg btn-warning text-uppercase">
                            {{ _("Voir les projets") }}</a>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <hr>
            </div>

            <!-- CURRENT WORKSHOP INFO -->
            <div class="col-12" id="anchor-current-workshop">
                <h4 class="title title-left">{{ _("Ateliers suivants") }}</h4>
                <div class="">
                    <div class="admonition admonition-note">
                        {{ this.next_workshop_description }}
                    </div>
                    <div class="col-12 text-center p-4">
                        <a href="#anchor-participate" class="btn btn-lg btn-warning text-uppercase">
                            <i class="fa fa-pencil"></i> {{ _("S'inscrire à une formation") }}</a>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <hr>
            </div>

            <div id="anchor-speakers" class="col-12">
                <h4 class="title title-left">
                    <i class="fa fa-users" aria-hidden="true"></i>{{ _("Les intervenants") }}
                </h4>
            </div>

            <!-- SPEAKERS -->
            {% set speakers = site.query('/intervenants').include_hidden(false) %}
            {% if speakers %}
            {% for speaker in speakers.order_by("name") %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-3 speaker" data-aos="fade-down-right" data-aos-delay="300">
                {% set pictures = speaker.attachments %}
                <div class="text-center speaker-picture-container"
                    onclick="location.href = '{{ speaker.url_path | url }}';">
                    <div class="speaker-picture" {% if pictures %} {% set profile_picture = pictures | first %}
                        style="background-image: url('{{ profile_picture | url }}');">
                        {% else %}
                        style="background-image: url('{{ "/imgs/user.png" | url }}');">
                        {% endif %}
                    </div>
                </div>
                <h4 class="speaker-name text-center">
                    <a href="{{ speaker.url_path | url }}">
                        {{ speaker.title }}
                    </a>
                </h4>
            </div>
            {% endfor %}
            {% endif %}


            <div class="col-12">
                <hr>
            </div>

            <div class="col-12" id="anchor-participate">
                <h4 class="title title-left">{{ _("S'inscrire et rester informé") }}</h4>
                {{ this.formulaire }}

                <div id="anchor-participate" class="col-12">
                    <div class="card border-0 text-center p-3">
                        <div class="" id="heading-register">
                            <h5 class="mb-0">
                                <button class="btn btn-lg btn-warning text-uppercase collapsed" data-toggle="collapse"
                                    data-target="#form-register" aria-expanded="false" aria-controls="form-register">
                                    <i class="fa fa-pencil"></i> {{ _("S'inscrire à une conférence") }}
                                </button>
                            </h5>
                        </div>
                        <iframe id="form-register" class="collapse" aria-labelledby="heading-register"
                            data-parent="#anchor-participate"
                            src="https://framaforms.org/educodeschool-inscription-aux-formations-en-ligne-1588750555"
                            width="100%" height="600" border="0"></iframe>
                    </div>
                    <div class="card border-0 text-center p-3">
                        <div class="" id="heading-interest">
                            <h5 class="mb-0">
                                <button class="btn btn-lg btn-warning text-uppercase collapsed" data-toggle="collapse"
                                    data-target="#form-interest" aria-expanded="false" aria-controls="form-interest">
                                    <i class="fa fa-eye"></i> {{ _("Rester informé") }}
                                </button>
                            </h5>
                        </div>
                        <iframe id="form-interest" class="collapse" aria-labelledby="heading-interest"
                            data-parent="#anchor-participate"
                            src="https://framaforms.org/participer-a-educode-2020-v2-1586206239"
                            width="100%" height="600" border="0"></iframe>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <hr>
            </div>

            <div class="col-12" id="anchor-price">
                <h4 class="title title-left">{{ _("Tarifs") }}</h4>
                <div class="about">
                    {{ this.price }}
                </div>
            </div>

            <div class="col-12">
                <hr>
            </div>

            <div class="col-12" id="anchor-wiki">
                <h4 class="title title-left">{{ _("Wiki") }}</h4>
                <div class="about">
                    {{ this.wiki }}
                </div>
            </div>
        </div>
    </div>

    <br>

</div>
{% endblock %}



{% block javascript %}
<script>
    AOS.init();

    $('#slideshow-partners').slick({
        dots: true,
        infinite: true,
        speed: 1500,
        autoplaySpeed: 300,
        autoplay: true,
        slidesToShow: 6,
        slidesToScroll: 1,
        responsive: [
            {
                breakpoint: 1024,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    infinite: true,
                    dots: true
                }
            },
            {
                breakpoint: 600,
                settings: {
                    slidesToShow: 5,
                    slidesToScroll: 2
                }
            },
            {
                breakpoint: 480,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 1
                }
            }
        ]
    });
</script>
{% endblock %}